div.metadata {
	margin-top: 20px;
	font-size: 1em;
}

#blue_corner {
	background-color: #42423B;
}

#red_corner {
	background-color: #42423B;
}

#vs {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 6em;
	color: #ECF0F1;
}

body {
  background: url("/../static/images/bg-img1.jpg") #1C2833;
	background-position: -120px 0px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#jumbo {
	background-image: url("/../static/images/MMAfight.jpg");
	background-size: 120em auto;
	background-position: -4em -4em;
}

.jumbotron {
	min-height: 50em;
}

#welcome {
	position: relative;
	top: 20em;
	right: 2em;
	color: white;
}

#result_row {
	padding-top: 1em;
}

#illegal_alert {
	font-size: 1.5em;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 120%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.page-header {
	color: white;
	margin-top: 1em;
}

.panel-body {
	padding-bottom: 0em;
}

.panel {
	border: 1.5px solid black;
}

.table th {
	text-align: center;
}

#login-btn {
	margin-bottom: 1em;
}
