body {
  background: url("/../static/images/bg-img1.jpg") #1C2833 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}

div.metadata {
	margin-top: 20px;
	font-size: 1em;
}

#blue_corner, #red_corner, .fighter-panel {
	background-color: #42423B;
}

#red_reset, #blue_reset, .list-group {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
  -moz-box-shadow:    3px 3px 8px 1px #000000;
  -webkit-box-shadow: 3px 3px 8px 1px #000000;
  box-shadow:         3px 3px 8px 1px #000000;
}

.profile_image {
  border: 0px solid #000000;
  border-radius: 20px;
  padding-top: 25px;
}

#vs {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 6em;
	color: #ECF0F1;
	text-shadow: 5px 5px 5px black;
}

#login-btn {
	margin-bottom: 1em;
}

#jumbo {
	background-image: url("/../static/images/MMAfight.jpg");
	background-size: 120em auto;
	background-position: -4em -4em;
}

.jumbotron {
	min-height: 50em;
}

#welcome {
	position: relative;
	top: 20em;
	right: 2em;
	color: white;
}

#result_row {
	padding-top: 1em;
}

#illegal_alert {
	font-size: 1.5em;
}

.list-group-item{
  border: 0px solid black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 110%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.page-header {
	color: white;
	margin-top: 1em;
  text-shadow: 3px 3px 10px #000000;
}

.panel-body {
	padding-bottom: 0em;
}

.panel {
	border: 1px solid black;
  -moz-box-shadow:    3px 3px 8px 1px #000000;
  -webkit-box-shadow: 3px 3px 8px 1px #000000;
  box-shadow:         3px 3px 8px 1px #000000;
}

.history_th {
	text-align: center;
}

.event_td {
	text-align: left;
}

.scroll-table {
	max-height: 600px;
	overflow: auto;
}

.glyphicon-flash {
 color: #FFF862;
}

.shadow {
	border: 0px solid black;
  -moz-box-shadow:    3px 3px 8px 1px #000000;
  -webkit-box-shadow: 3px 3px 8px 1px #000000;
  box-shadow:         3px 3px 8px 1px #000000;
}

.footer {
  color: #ffffff;
}
