{% extends "index.html" %}
{% block content %}

<script>
// Arrays to hold fighters for different levels of filtering
var None = "";
var fighterData = [{{ data|safe }}];
var male = [];
var female = [];
var male_flyweight = [];
var male_bantamweight = [];
var male_featherweight = [];
var male_lightweight = [];
var male_welterweight = [];
var male_middleweight = [];
var male_lhweight = [];
var male_heavyweight = [];
var female_strawweight = [];
var female_bantamweight = [];

$(document).ready(function() {
    $('#fight').click(function() {
        $('#results').slideToggle('fast');
    });
    // Loops and conditionals to filter fighter data into arrays based on drop down menus
    for (var i=0; i<fighterData.length; i++) {
        var data = fighterData[i];
        for (var i=0; i<data.length; i++) {
            var fighters = data[i];        
            // Male fighter filters
            if (fighters['gender'] == "male") {
                male.push(fighters);
                if (fighters['weight'] == "Flyweight") {
                    male_flyweight.push(fighters);
                }
                else if (fighters['weight'] == "Bantamweight") {
                    male_bantamweight.push(fighters);
                }
                else if (fighters['weight'] == "Featherweight") {
                    male_featherweight.push(fighters);
                }
                else if (fighters['weight'] == "Lightweight") {
                    male_lightweight.push(fighters);
                } 
                else if (fighters['weight'] == "Welterweight") {
                    male_welterweight.push(fighters);
                }
                else if (fighters['weight'] == "Middleweight") {
                    male_middleweight.push(fighters);
                }
                else if (fighters['weight'] == "Light_Heavyweight") {
                    male_lhweight.push(fighters);
                }
                else if (fighters['weight'] == "Heavyweight") {
                    male_heavyweight.push(fighters);
                }                
            }
            // Female fighter filters
            else if (fighters['gender'] == "female") {
                female.push(fighters);
                if (fighters['weight'] == "Women_Strawweight") {
                    female_strawweight.push(fighters);
                }
                else if (fighters['weight'] == "Women_Bantamweight") {
                    female_bantamweight.push(fighters);
                }
            }             
        }
    }    

    // Each corner has its own variables and filter function
    // Both corners are identical
    // Comments for red corner apply to blue corner as well

    // jQuery variables for dropdown selectors    
    var $red_gender = $('#red_gender');
    var $red_weight = $('#red_weight');
    var $red_promotion = $('#red_promotion'); 
    var $red_fighter = $('#red_fighter');
    var $red_info = $('#red_info');
    var $blue_gender = $('#blue_gender');
    var $blue_weight = $('#blue_weight');
    var $blue_promotion = $('#blue_promotion'); 
    var $blue_fighter = $('#blue_fighter');
    var $blue_info = $('#blue_info');    

    // Function to filter fighters when 'male' is selected
    $red_gender.on('change', function(){
        if (($red_gender).val() == "Male") { 
            $red_fighter.empty();
            $red_weight.empty();
            $blue_gender.empty();
            $blue_gender.append('<option disabled>Female</option>');
            $blue_gender.append('<option>Male</option>').selectpicker('refresh');
            $blue_gender.selectpicker('val', 'Male');            
            // Modify weight class dropdown to only have male weight classes once gender is chosen
            var weight_classes = ["Flyweight", "Bantamweight", "Featherweight", "Lightweight", 
                                    "Welterweight", "Middleweight", "Light Heavyweight", "Heavyweight"];
            for (var i=0; i<weight_classes.length; i++) {
                $red_weight.append('<option>' + weight_classes[i] + '</option>').selectpicker('refresh');
            }                                              
            for (var i=0; i<male.length; i++) {
                $red_fighter.append('<option>' + male[i].last_name + ", " + male[i].first_name +'</option>').selectpicker('refresh');
            }
            // Function to filter fighters by weight class selected
            $red_weight.on('change', function(){
                if (($red_weight).val() == "Flyweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_flyweight.length; i++) {
                        $red_fighter.append('<option>' + male_flyweight[i].last_name + ", " + male_flyweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Bantamweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_bantamweight.length; i++) {
                        $red_fighter.append('<option>' + male_bantamweight[i].last_name + ", " + male_bantamweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Featherweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_featherweight.length; i++) {
                        $red_fighter.append('<option>' + male_featherweight[i].last_name + ", " + male_featherweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Lightweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_lightweight.length; i++) {
                        $red_fighter.append('<option>' + male_lightweight[i].last_name + ", " + male_lightweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Welterweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_welterweight.length; i++) {
                        $red_fighter.append('<option>' + male_welterweight[i].last_name + ", " + male_welterweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Middleweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_middleweight.length; i++) {
                        $red_fighter.append('<option>' + male_middleweight[i].last_name + ", " + male_middleweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Light Heavyweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_lhweight.length; i++) {
                        $red_fighter.append('<option>' + male_lhweight[i].last_name + ", " + male_lhweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($red_weight).val() == "Heavyweight") {
                    $red_fighter.empty();
                    for (var i=0; i<male_heavyweight.length; i++) {
                        $red_fighter.append('<option>' + male_heavyweight[i].last_name + ", " + male_heavyweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
            });            
        }
    });
    // Function to filter fighters when 'female' is selected
    $red_gender.on('change', function(){
        if (($red_gender).val() == "Female") {
            $red_fighter.empty();
            $red_weight.empty();
            $blue_gender.empty();
            $blue_gender.append('<option>Female</option>');
            $blue_gender.append('<option disabled>Male</option>').selectpicker('refresh');
            $blue_gender.selectpicker('val', 'Female');
            // Modify weight class dropdown to only have female weight classes once gender is chosen
            var weight_classes = ["Strawweight", "Bantamweight"];
            for (var i=0; i<weight_classes.length; i++) {
                $red_weight.append('<option>' + weight_classes[i] + '</option>').selectpicker('refresh');
            }              
            for (var i=0; i<female.length; i++) {
                $red_fighter.append('<option>' + female[i].last_name + ", " + female[i].first_name +'</option>').selectpicker('refresh');
            }
            // Function to filter fighters by weight class selected
            $red_weight.on('change', function(){
                if (($red_weight).val() == "Strawweight") {
                    $red_fighter.empty();
                    for (var i=0; i<female_strawweight.length; i++) {
                        $red_fighter.append('<option>' + female_strawweight[i].last_name + ", " + female_strawweight[i].first_name +'</option>').selectpicker('refresh');
                    }
                }                      
                else if (($red_weight).val() == "Bantamweight") {
                    $red_fighter.empty();
                    for (var i=0; i<female_bantamweight.length; i++) {
                        $red_fighter.append('<option>' + female_bantamweight[i].last_name + ", " + female_bantamweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
            });                        
        }
    });
    // Function loads fighter info on selection
    $red_fighter.on('change', function(){
        $('#red_info_name').html("");
        $('#red_info_nickname').html("");
        $('#red_info_weight').html("");
        $('#red_info_record').html("");
        var selected = $red_fighter.val();
        for (var i=0; i<fighterData.length; i++) {
            var data = fighterData[i];
            for (var i=0; i<data.length; i++) {
                var fighters = data[i];
                if (selected == (fighters.last_name + ", " + fighters.first_name)) {
                    $('#red_info_name').append(fighters.first_name + " " + fighters.last_name);
                    $('#red_info_nickname').append(fighters.nickname);
                    $('#red_info_weight').append(fighters.weight);
                    $('#red_info_record').append(fighters.win + "-" + fighters.loss + "-" + fighters.draw)
                    $('#red_img').attr("src", fighters.fighter_image);                                        
                }
            }
        }
    });

    $blue_gender.on('change', function(){
        if (($blue_gender).val() == "Male") { 
            $blue_fighter.empty();
            $blue_weight.empty();
            $red_gender.empty();
            $red_gender.append('<option disabled>Female</option>');
            $red_gender.append('<option>Male</option>').selectpicker('refresh');
            $red_gender.selectpicker('val', 'Male');                        
            var weight_classes = ["Flyweight", "Bantamweight", "Featherweight", "Lightweight", 
                                    "Welterweight", "Middleweight", "Light Heavyweight", "Heavyweight"];
            for (var i=0; i<weight_classes.length; i++) {
                $blue_weight.append('<option>' + weight_classes[i] + '</option>').selectpicker('refresh');
            }                                              
            for (var i=0; i<male.length; i++) {
                $blue_fighter.append('<option>' + male[i].last_name + ", " + male[i].first_name +'</option>').selectpicker('refresh');
            }
            $blue_weight.on('change', function(){
                if (($blue_weight).val() == "Flyweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_flyweight.length; i++) {
                        $blue_fighter.append('<option>' + male_flyweight[i].last_name + ", " + male_flyweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Bantamweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_bantamweight.length; i++) {
                        $blue_fighter.append('<option>' + male_bantamweight[i].last_name + ", " + male_bantamweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Featherweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_featherweight.length; i++) {
                        $blue_fighter.append('<option>' + male_featherweight[i].last_name + ", " + male_featherweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Lightweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_lightweight.length; i++) {
                        $blue_fighter.append('<option>' + male_lightweight[i].last_name + ", " + male_lightweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Welterweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_welterweight.length; i++) {
                        $blue_fighter.append('<option>' + male_welterweight[i].last_name + ", " + male_welterweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Middleweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_middleweight.length; i++) {
                        $blue_fighter.append('<option>' + male_middleweight[i].last_name + ", " + male_middleweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Light Heavyweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_lhweight.length; i++) {
                        $blue_fighter.append('<option>' + male_lhweight[i].last_name + ", " + male_lhweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
                else if (($blue_weight).val() == "Heavyweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<male_heavyweight.length; i++) {
                        $blue_fighter.append('<option>' + male_heavyweight[i].last_name + ", " + male_heavyweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
            });            
        }
    });
    $blue_gender.on('change', function(){
        if (($blue_gender).val() == "Female") {
            $blue_fighter.empty();
            $blue_weight.empty();
            $red_gender.empty();
            $red_gender.append('<option>Female</option>');
            $red_gender.append('<option disabled>Male</option>').selectpicker('refresh');
            $red_gender.selectpicker('val', 'Female');                        
            var weight_classes = ["Strawweight", "Bantamweight"];
            for (var i=0; i<weight_classes.length; i++) {
                $blue_weight.append('<option>' + weight_classes[i] + '</option>').selectpicker('refresh');
            }              
            for (var i=0; i<female.length; i++) {
                $blue_fighter.append('<option>' + female[i].last_name + ", " + female[i].first_name +'</option>').selectpicker('refresh');
            }
            $blue_weight.on('change', function(){
                if (($blue_weight).val() == "Strawweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<female_strawweight.length; i++) {
                        $blue_fighter.append('<option>' + female_strawweight[i].last_name + ", " + female_strawweight[i].first_name +'</option>').selectpicker('refresh');
                    }
                }                      
                else if (($blue_weight).val() == "Bantamweight") {
                    $blue_fighter.empty();
                    for (var i=0; i<female_bantamweight.length; i++) {
                        $blue_fighter.append('<option>' + female_bantamweight[i].last_name + ", " + female_bantamweight[i].first_name +'</option>').selectpicker('refresh');
                    }                            
                }
            });                        
        }
    });
    $blue_fighter.on('change', function(){
        $('#blue_info_name').html("");
        $('#blue_info_nickname').html("");
        $('#blue_info_weight').html("");
        $('#blue_info_record').html("");
        var selected = $blue_fighter.val();
        for (var i=0; i<fighterData.length; i++) {
            var data = fighterData[i];
            for (var i=0; i<data.length; i++) {
                var fighters = data[i];
                if (selected == (fighters.last_name + ", " + fighters.first_name)) {
                    $('#blue_info_name').append(fighters.first_name + " " + fighters.last_name);
                    $('#blue_info_nickname').append(fighters.nickname);
                    $('#blue_info_weight').append(fighters.weight);
                    $('#blue_info_record').append(fighters.win + "-" + fighters.loss + "-" + fighters.draw)
                    $('#blue_img').attr("src", fighters.fighter_image);                                           
                }
            }
        }
    });    
});
</script>

<div class="container">
    <div class="row">
        <div class="col-md-5">  
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Red Corner</h2>
                </div>
                <div id="red_corner" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li id="dropdowns" class="list-group-item">
                                    <select id="red_gender" class="selectpicker step" title="Gender" value=""
                                                    data-size="10" data-width="100%">

                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="red_promotion" class="selectpicker" title="Promotion" 
                                                    data-size="10" data-width="100%">
                                        <option>UFC</option>
                                        <option>Bellator MMA</option>
                                        <option>One FC</option>
                                        <option>World Series of Fighting</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="red_weight" class="selectpicker" title="Weight" 
                                                    data-size="10" data-width="100%">
                                        <option>Strawweight</option>
                                        <option>Flyweight</option>
                                        <option>Bantamweight</option>
                                        <option>Featherweight</option>
                                        <option>Lightweight</option>
                                        <option>Welterweight</option>
                                        <option>Middleweight</option>
                                        <option>Light Heavyweight</option>
                                        <option>Heavyweight</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="red_fighter" class="selectpicker" title="Fighter" data-size="10" 
                                            data-width="100%" data-live-search="true">
                                        {% for fighter in data %}
                                        <option>{{ fighter.last_name }}, {{ fighter.first_name }}</option>
                                        {% endfor %}                                            
                                    </select>    
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../static/images/Body-1.png" 
                                id="red_img" class="img-responsive profile_image" alt="Responsive image">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-text">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Fighter Info</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td class="col-md-4"><b>Name</b></td>
                                                <td id="red_info_name"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Nickname</b></td>
                                                <td id="red_info_nickname"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Weight Class</b></td>
                                                <td id="red_info_weight"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Record</b></td>
                                                <td id="red_info_record"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>        
                        </div>    
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-2">
            <h1 id="vs" class="text-center">VS.</h1>
            <button id="fight" type="button" class="btn btn-danger btn-lg btn-block">FIGHT!</button>   
        </div>
        <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Blue Corner</h2>
                </div>
                <div id="blue_corner" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <select id="blue_gender" class="selectpicker" title="Gender" 
                                                    data-size="10" data-width="100%">
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="blue_promotion" class="selectpicker" title="Promotion" 
                                                    data-size="10" data-width="100%">
                                        <option>UFC</option>
                                        <option>Bellator MMA</option>
                                        <option>One FC</option>
                                        <option>World Series of Fighting</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="blue_weight" class="selectpicker" title="Weight" 
                                                    data-size="10" data-width="100%">
                                        <option>Strawweight</option>
                                        <option>Flyweight</option>
                                        <option>Bantamweight</option>
                                        <option>Featherweight</option>
                                        <option>Lightweight</option>
                                        <option>Welterweight</option>
                                        <option>Middleweight</option>
                                        <option>Light Heavyweight</option>
                                        <option>Heavyweight</option>
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <select id="blue_fighter" class="selectpicker" title="Fighter" data-size="10" 
                                            data-width="100%" data-live-search="true" data-header="Select a fighter">
                                        {% for fighter in data %}
                                        <option>{{ fighter.last_name }}, {{ fighter.first_name }}</option>
                                        {% endfor %}
                                    </select>    
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../static/images/Body-1.png" 
                                id="blue_img" class="img-responsive profile_image" alt="Responsive image">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-text">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Fighter Info</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td class="col-md-4"><b>Name</b></td>
                                                <td id="blue_info_name"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Nickname</b></td>
                                                <td id="blue_info_nickname"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Weight Class</b></td>
                                                <td id="blue_info_weight"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4"><b>Record</b></td>
                                                <td id="blue_info_record"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>        
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="result_row" class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Results</h3>
                </div>
                <div id="results" class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Winner</li>
                        <li class="list-group-item">Round</li>
                        <li class="list-group-item">Time</li>
                        <li class="list-group-item">Method</li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="col-md-3">
        </div>
    </div>    
</div>

{% endblock content %} 