{% extends "index.html" %}
{% block content %}

<div class="container">
	<div id="how-it-works" class="page-header">
		<h1>How It Works</h1>
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title">Where to Start</h3>
	  	</div>
	  	<div class="panel-body">
			<ol>
				<li>Start by selecting a gender. Fights can only be between
					the same gender, but fighters may challenge opponents from 
					different promotions and weight classes.
				</li>
				<li>Once you select a gender all the available fighters will
					appear in the fighter list. You may filter the fighter list
					further by selection a promotion. Choosing a promotion will
					load the weight classes available in that organization.
				 </li>
				<li>When you have a fighter selected in each corner, click the
					"FIGHT!" button to start a simulation.
				</li> 
				<li>The results of the fight simulation will appear in the 
					result panel at the bottom of the page.
				</li>
				<li>To reset the menus at any time or after a simulation,
					click the "Start Over" button below the results panel.
				</li>				
			</0l>
	  	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title">MMA Basic Info</h3>
	  	</div>
	  	<div class="panel-body">
	  		<p><strong>Weight Class Definitions</strong></p>
	  		<p>The weights listed are the maximum a fighter can weigh:</p>
			<ul>
				<li>Womens Strawweight - 115 lbs.</li>
				<li>Womens Bantamweight - 135 lbs.</li>
				<li>Mens Flyweight - 125 lbs.</li>
				<li>Mens Bantamweight - 135 lbs.</li>
				<li>Mens Featherweight - 145 lbs.</li>
				<li>Mens Lightweight - 155 lbs.</li>
				<li>Mens Welterweight - 170 lbs.</li>
				<li>Mens Middleweight - 185 lbs.</li>
				<li>Mens Light Heavyweight - 205 lbs.</li>
				<li>Mens Heavyweight - 265 lbs.</li>
			</ul>
	  	</div>	  	
	</div>	
</div>

{% endblock %}

