{% extends "index.html" %}
{% block content %}

<div class="container">
	<div id="how-it-works" class="page-header">
		<h1>How It Works</h1>
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title">Take the following steps to start simulating matchups</h3>
	  	</div>
	  	<div class="panel-body">
			<ul>
				<li>Select a gender. Matchups can be between any weight class but
				 they are restricted to fighting the same gender.</li>
				<li>Once the gender is chosen the fighters can be filtered 
				 	by promotion and weight class, but this is only necessary 
				 	if you want to further filter your results. The fighter 
				 	list will populate once a gender has been selected.</li>
				<li>After you have selected a fighter for each corner, click 
					the 'Fight' button to see the results! Simple as that!</li> 
			</ul>
	  	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title">MMA Basic Info</h3>
	  	</div>
	  	<div class="panel-body">
	  		<p><strong>Weight Class Definitions</strong></p>
	  		<p>The weights listed are the maximum a fighter can weigh:</p>
			<ul>
				<li>Womens Strawweight - 115 lbs.</li>
				<li>Womens Bantamweight - 135 lbs.</li>
				<li>Mens Flyweight - 125 lbs.</li>
				<li>Mens Bantamweight - 135 lbs.</li>
				<li>Mens Featherweight - 145 lbs.</li>
				<li>Mens Lightweight - 155 lbs.</li>
				<li>Mens Welterweight - 170 lbs.</li>
				<li>Mens Middleweight - 185 lbs.</li>
				<li>Mens Light Heavyweight - 205 lbs.</li>
				<li>Mens Heavyweight - 265 lbs.</li>
			</ul>
	  	</div>	  	
	</div>	
</div>

{% endblock %}

