<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>MMA Fight Simulator</title>

		<!-- CSS -->

		<!-- Bootstrap CDN-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Bootstrap Select CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.css">
		<!-- Fight Simulator -->
        <link rel="stylesheet" href="/../static/css/main.css">
		
		<!-- JavaScript -->
		<!--jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Bootstrap CDN-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Bootstrap Select CDN-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.js"></script>

    </head>

    <body>
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		    <div class="container">
				<div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
			    	</button>
			    	<a class="navbar-brand" href="{{ url_for('welcome') }}"><img class="navbar-brand alt="Brand" src="../static/images/logo.png"></a>
			    </div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">

						{% if not current_user.is_authenticated %}
						<li><a href="{{ url_for('create_user_get') }}">Register</a></li>						
						<li><a href="{{ url_for('login_get') }}">Login</a></li>
						<li><a href="{{ url_for('how_it_works') }}">How It Works</a></li>
						{% endif %}
			    		
			    		{% if current_user.is_authenticated %}
			    		<li><a href="{{ url_for('fight') }}">Fight</a></li>
			    		<li><a href="{{ url_for('fight') }}">User History</a></li>
			    		<li><a href="{{ url_for('logout') }}">Logout ({{ current_user.email }})</a></li>
			    		{% endif %}

					</ul>
				</div>
			</div>
		</div>
		
				{% with messages = get_flashed_messages(with_categories=true) %}
		        {% if messages %}
		        {% for category, message in messages %}
		        
		        <div class="alert alert-{{ category }} text-center fade in">
		            {{ message }}
		        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}

		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>    
