{% extends "index.html" %}
{% block content %}

<script>
None = "";
fighterData = {{ data|safe }};
</script>
<script src="../static/js/filters.core.js"></script>
<script src="../static/js/selectors.core.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-5">  
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Red Corner</h2>
        </div>
        <div id="red_corner" class="panel-body corner red_side">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group">
                <li id="dropdowns" class="list-group-item">
                  <select id="red_gender" class="selectpicker gender_menu" title="Gender"
                          data-size="10" data-width="100%">
                    <option>Female</option>
                    <option>Male</option>
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="red_promotion" class="selectpicker promotion_menu" title="Promotion" 
                          data-size="10" data-width="100%">
                    <option>UFC</option>
                    <option>Bellator</option>      
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="red_weight" class="selectpicker weight_menu" title="Weight" 
                          data-size="10" data-width="100%">
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="red_fighter" class="selectpicker fighter_menu" title="Fighter" data-size="10" 
                      data-width="100%" data-live-search="true">                                          
                  </select>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <img src="../static/images/Body-1.png" 
                id="red_img" class="img-responsive profile_image" alt="Responsive image">    
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center-text">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Fighter Info</h4>
                </div>
                <div class="panel-body">
                  <table class="table table-hover table-bordered table-responsive">
                    <tbody>
                      <tr>
                        <td class="col-md-4"><b>Name</b></td>
                        <td class="info_name"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Nickname</b></td>
                        <td class="info_nickname"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Promotion</b></td>
                        <td class="info_promotion"></td>
                      </tr>                      
                      <tr>
                        <td class="col-md-4"><b>Weight Class</b></td>
                        <td class="info_weight"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Record</b></td>
                        <td class="info_record"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>        
            </div>    
          </div>
        </div>
      </div>    
    </div>
    <div class="col-md-2">
      <h1 id="vs" class="text-center">VS.</h1>
      <button id="fight" type="button" class="btn btn-danger btn-lg btn-block">FIGHT!</button>   
    </div>
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Blue Corner</h2>
        </div>
        <div id="blue_corner" class="panel-body corner blue_side">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group">
                <li class="list-group-item">
                  <select id="blue_gender" class="selectpicker gender_menu" title="Gender" 
                          data-size="10" data-width="100%">
                    <option>Female</option>
                    <option>Male</option>
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="blue_promotion" class="selectpicker promotion_menu" title="Promotion" 
                          data-size="10" data-width="100%">
                    <option>UFC</option>
                    <option>Bellator</option>                             
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="blue_weight" class="selectpicker weight_menu" title="Weight" 
                          data-size="10" data-width="100%">
                  </select>
                </li>
                <li class="list-group-item">
                  <select id="blue_fighter" class="selectpicker fighter_menu" title="Fighter" data-size="10" 
                      data-width="100%" data-live-search="true" data-header="Select a fighter">
                  </select>    
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <img src="../static/images/Body-1.png" 
                id="blue_img" class="img-responsive profile_image" alt="Responsive image">    
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center-text">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Fighter Info</h4>
                </div>
                <div class="panel-body">
                  <table class="table table-hover table-bordered table-responsive">
                    <tbody>
                      <tr>
                        <td class="col-md-4"><b>Name</b></td>
                        <td class="info_name"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Nickname</b></td>
                        <td class="info_nickname"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Promotion</b></td>
                        <td class="info_promotion"></td>
                      </tr>                        
                      <tr>
                        <td class="col-md-4"><b>Weight Class</b></td>
                        <td class="info_weight"></td>
                      </tr>
                      <tr>
                        <td class="col-md-4"><b>Record</b></td>
                        <td class="info_record"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>        
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="result_row" class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Results</h3>
        </div>
        <div id="results" class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Winner</li>
            <li class="list-group-item">Round</li>
            <li class="list-group-item">Time</li>
            <li class="list-group-item">Method</li>
          </ul>
        </div>
      </div>    
    </div>
    <div class="col-md-3">
    </div>
  </div>    
</div>

{% endblock content %}