{% import "macros.html" as macros %}
{% extends  "index.html" %}
{% block content %}

<div class="container">
  <div class="page-header">
    <h1>User History</h1>
  </div>
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Fights simulated by {{ current_user.email }}</h3>
      </div>
      <div class="panel-body text-center">
        <table id="history_table"
            class="table table-hover table-responsive table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th class="danger">Red Corner</th>
              <th class="info">Blue Corner</th>
              <th class="success">Winner</th>
              <th>Method</th>
              <th>Time</th>
              <th>Round</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <form role="form" method="POST">
      <button type="submit" class="btn btn-info btn-lg center-block">Clear history</button>
    </form>
  </div>
</div>

<script>
var user_history = {{ user_history|safe }};

var tbody = $('#history_table tbody'),
    props = ["fight_date", "red_corner", "blue_corner", "winner",
              "method", "end_time", "end_round"];
$.each(user_history, function(i, user_history) {
  var tr = $('<tr>');
  $.each(props, function(i, prop) {
    $('<td>').html(user_history[prop]).appendTo(tr);
  });
  tbody.append(tr);
});
</script>

{% endblock %}
