{% import "macros.html" as macros %}
{% extends  "index.html" %}
{% block content %}

<div class="container">
  <div class="page-header">
    <h1>User History</h1>
  </div>
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Fights simulated by {{ current_user.email }}</h3>
      </div>
      <div class="scroll-table panel-body text-center">
        <table class="table table-hover table-responsive table-condensed">
          <thead>
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center danger">Red Corner</th>
              <th class="text-center info">Blue Corner</th>
              <th class="text-center success">Winner</th>
              <th class="text-center">Method</th>
              <th class="text-center">Time</th>
              <th class="text-center">Round</th>
            </tr>
          </thead>
          <tbody>
            {% for user_fight in user_history %}
              {{ macros.render_user_fight(user_fight) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#clear_history').click(function() {
    if (confirm("Are you sure you want to clear your fight history? Click OK to continue")) {
      $('#delete_history').submit();
    } else {
      return false;}
  });
});
</script>

{% endblock %}
