{% extends "index.html" %}
{% block content %}

<div class="jumbotron shadown" id="jumbo">
  	<div id="welcome" class="container-fluid">
      <p>Predict the outcome of a match between your favorite fighters. This app
        is a demonstration of a single-page application utilizing the Flask framework
         and a PostgreSQL database. API references can be found on the repository page.
      </p>
  		<h1>MMA Fight Simulator</h1>
  		<p><a class="btn btn-primary btn-lg shadow" href="{{ url_for('fight') }}" role="button">Get Started</a></p>
  	</div>
</div>

{% endblock %}
